#vertex-title {
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0;
    padding-left: .5em;
    display: inline-block;
}

#header-button-container {
    float: right;
    display: inline-block;
}

body {
    margin: 0;
}

#floor-plan-container {
    display: grid;
}

#floor-plan-background, svg {
    grid-column: 1;
    grid-row: 1;
}

#floor-plan-background {
    pointer-events: none;
}

#sidebar-container {
    float: left;
    width: 4.25em;
    height: calc(100vh - 4.25em);
    background-color: darkblue;
    border-top: white 1px solid;
    display: grid;
    grid-template-areas: "node"
                        "line"
                        "none";
}

#sidebar-node {
    grid-area: node;
}

#sidebar-line {
    grid-area: line;
}

